@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.chatMenu {
    width: 30%;
    float: left;
    border-right: 1px solid #565757;
}

.chatMenu .dp img {
    width: 100%;
}

.chatMenu .dp {
    width: 11%;
    float: left;
    display: inline-block;
    border-radius: 50%;
}

.mainMenu {
    background-color: #202C33;
    height: 70px;
    width: 100%;
    padding: 10px;
    /* color: red; */
}

.chatMenu .dp img {
    border-radius: 50%;
}

.status li {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
}

.status i {
    font-size: 22px;
    color: #AEBAC1;
    margin: 0 12px;
    text-align: center;
}

.status {
    float: right;
    padding: 12px;
}

.chatSearch {
    padding: 0 15px 15px 15px;
    background-color: #111B21;
}

.chatSearch input {
    display: inline-block;
    width: 100%;
    padding: 10px 60px;
    border: none;
    border-radius: 7px;
    background-color: #202C33;
}

::placeholder {
    color: white;
}

.chatSearch i {
    display: inline-block;
    position: relative;
    top: 29px;
    left: 13px;
    color: #AEBAC1;
}

.contact .dp img {
    width: 100%;
    border-radius: 50%;
    margin-right: 10px;
}

.contact .dp {
    margin-right: 15px;
}

.contact {
    background-color: #111B21;
    height: 76vh;
    /* height: 100%; */
    color: #E9EDEF;
}

.chat1 .name .description {
    font-size: 13px;
}

.chat1 .name {
    /* float: right; */
}

.chat1 .name .contactName {
    font-size: 14px;
}

.chat1 .dp img {
    /* margin-right: -10px; */
    background-color: red;
    display: inline-block;
}

.chat1 .name .msgCount {
    font-size: 12px;
    background-color: #00A884;
    padding: 3px;
    border-radius: 43%;
    /* margin: 15px 5px; */
}

.chat1 .name .time {
    float: right;
    font-size: 12px;
}

.chat1 {
    width: 100%;
    height: 70px;
    padding: 14px 10px;
    cursor: pointer;
}

.chat1:hover {
    background-color: #202C33;
}

.msgCount,
.time {
    float: right;
    padding: 0;
    margin: 0;
}

.contact {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    display: flex;
    height: 100vh;
}

.chat {
    width: 70%;
    /* float: left; */
}

.chat {
    height: 70px;
    width: 70%;
}

.groupNameBar {
    background-color: #202C33;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    /* border-left: 1px solid #4d4d4d; */
}

.groupNameBar dp {
    width: 10%;
}

.groupNameBar .grpname {
    float: left;
    width: 100%;
    margin-left: 20px;
}

.groupNameBar img {
    /* float: left; */
    width: 45px;
    border-radius: 50%;
}

.cname {
    font-size: 14px;
    color: #999898;
}

.grpname .gname {
    color: #E9EDEF;
}

.chat .chatBox {
    width: 100%;
    height: 87.5vh;
    background-image: url("./img/wa_bg.png");
    background-color: #111B21;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 6px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #7a7a7a;
    border-radius: 5px;
}

.me {
    /* padding: 10px; */
    float: right;
    margin-top: 20px;
    margin-right: 30px;
    width: 620px;
}

.message {
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 4px 0;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
}

.message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
}

.metadata {
    display: inline-block;
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
}

.metadata .time {
    color: rgba(255, 255, 255, 0.699);
    font-size: 11px;
    display: inline-block;
}

.message.sent {
    color: white;
    /* background: #e1ffc7; */
    background: #005C4B;
    border-radius: 5px 0px 5px 5px;
    float: right;
}

.message.sent:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #005C4B;
    top: 0;
    right: -10px;
}

.me .reply {
    background-color: #025144;
    padding: 10px 5px;
    border-left: 4px solid rgb(211, 173, 7);
    border-radius: 10px;
    margin: 5px;
}

.me .reply .p1 {
    color: rgb(211, 173, 7);
    font-size: 14px;
}

.me .reply .p2 {
    /* font-size: 15px; */
    font-weight: bold;
    padding: 5px;
}

.me .reply i {
    margin-right: 6px;
}

.me .link .p1 {
    color: rgb(211, 173, 7);
    font-size: 14px;
}

.me .link {
    background-color: #025144;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.me .link .gitlink {
    font-size: 14px;
    margin-left: 15px;
    color: #999898;
}

.me .link .p2 {
    /* font-size: 15px; */
    padding: 5px;
}

.me .msgDetail {
    padding: 10px;
}

.msgDetail a {
    color: #05afda;
}

.msgDetail p {
    padding: 6px 0;
}

.message.received {
    background: #fff;
    border-radius: 0px 5px 5px 5px;
    float: left;
}

.message.received .metadata {
    padding: 0 0 0 16px;
}

.message.received {
    background: #202C33;
    border-radius: 0px 5px 5px 5px;
    float: left;
    color: white;
    margin-left: 25px;
    padding: 10px;
}

.message.received:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #202C33 transparent transparent;
    top: 0;
    left: -10px;
}

.message.received .MoNo {
    color: #05e085;
    padding-bottom: 5px;
}

.chating {
    position: fixed;
    z-index: 22;
    bottom: 0;
    height: 65px;
    width: 70%;
    background-color: #202C33;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.chating i {
    padding: 0 10px;
    font-size: 24px;
    color: #8696A0;
}

.chatinput input {
    width: 700px;
    border: none;
    padding: 14px;
    background-color: #2A3942;
    border-radius: 10px;
}